
/* Basic Styles */

body{
    font-family: 'Lato', sans-serif;
    display:grid;
    grid-template-columns: 1fr;
    margin: 0px;
    padding: 0px;
}

#header{
    height: 200px;
    border: 1px solid gray;
}

main{
    justify-self: center;
    width: 90%;
}

p, li{
    font-size: 14px;
    color: #555555;
    line-height: 1.5em;
}

header{
    padding: 15px 0px;
    font-weight: bold;
    font-size: 24px;
}
li{
    margin-bottom: 10px;
}

code pre{
    padding: 10px;
    background-color:#EEEEEE;
}

a{
    color: #666666;
    text-decoration: none;
}

main a{
    text-decoration: underline;
    color: blue;
}
/* Advanced Styles */

#navbar{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#navbar .navbar-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;    
    font-size: 20px;
}

nav h1{
    padding: 0px;
    margin: 0px;
}
#navbar .navbar-links{
    height: 80%;
    overflow-y: scroll;
}

#navbar .navbar-links a{
    display: block;
    padding: 5px 15px;
    border: 1px solid gray;

}


/* Media Queries */

@media only screen and (min-width: 768px){
    #header{
        height: 100%;
        grid-area: header;
    }

    body{
        grid-template-columns: 2fr 8fr;
        grid-template-areas: "header" "main";
    }

    #navbar{
        position: fixed;
        width: 20%;
    }
    #navbar header{
        font-size: 16px;
    }

    main{
        padding: 0px;
        margin: 0px;
    }

    #navbar .navbar-links{
        overflow-y: initial;
    }
}